.bandeau{
    height: 75px;
    background-color: black;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.bandeau h1{
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: 'Kanit', sans-serif;
    display: flex;
    justify-content: space-around;
}
.bandeau h1:hover{
    color: purple;
}
.langues{
    margin-right: 20px;
    margin-top: 20px;
    
    color: white;
    display: flex;
    justify-content: space-between;
}
.langues img{
    height: 30px;
    display: flex;
    margin-right: 5px;
}
.boite1{
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 200px;
    font-family: 'Kanit', sans-serif;
    text-align: right;
    display: flex;
    justify-content: space-around;
    animation: slideLeft 5s;
}
.boite1 img{
    height: 60%;
    width: 60%;
    animation: slideLeft 10s;
}
.boite2{
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 200px;
    font-family: 'Kanit', sans-serif;
    text-align: left;
    display: flex;
    justify-content: space-around;
    animation: slideRight 5s;
}
.boite2 img{
    height: 60%;
    width: 60%;
    margin-right: 15px;
    animation: slideRight 10s;
}
.boite3{
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 200px;
    font-family: 'Kanit', sans-serif;
    text-align: right;
    display: flex;
    justify-content: space-around;
    animation: slideLeft 5s;
}
.boite3 img{
    height: 60%;
    width: 60%;
    animation: slideLeft 10s;
}
.boite4{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    margin: 100px;
}
.contact{
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.contact a{
    margin-left: 75px;
    margin-right: 75px;
    font-family: 'Kanit', sans-serif;
}
@keyframes slideLeft{
    from{
        translate: 150%;
    }
    to{
        translate: 0;
    }
}
@keyframes slideRight{
    from{
        translate: -150%;
    }
    to{
        translate: 0;
    }
}